---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'

export async function getStaticPaths() {
  const data = [
    {
      "userId": 1,
      "id": 1,
      "title": "Bolhas - Gesso3D",
      "body": "Placa de gesso 3D com desenho de bolhas",
      "footer": "29x29",
      "img": "/bolhas_fdg_20.jpg",
      // "img2": "/bolha3.jpeg"
    },
    {
      "userId": 1,
      "id": 2,
      "title": "Chamas - Gesso3D",
      "body": "Placa de gesso 3D com desenho de chamas",
      "footer": "29x29",
      "img": "/chamas_fdg_57.jpg",
      // "img2": "/chamas2.jpg"
    },
    {
      "userId": 1,
      "id": 3,
      "title": "Cristais - Gesso3D",
      "body": "Placa de gesso 3D com desenho de cristais",
      "footer": "29x29",
      "img": "/cristais_fdg_65.jpg",
      // "img2": "/cristais2.jpg"
    },
    {
      "userId": 1,
      "id": 4,
      "title": "Dunas - Gesso3D",
      "body": "Placa de gesso 3D com desenho de Dunas",
      "footer": "29x29",
      "img": "/dunas_fdg_22.jpg",
      // "img2": "/dunas2.jpg"
    },
    {
      "userId": 1,
      "id": 5,
      "title": "Impress - Gesso3D",
      "body": "Placa de gesso 3D com estilo impress",
      "footer": "29x29",
      "img": "/impress_fdg_122.jpg",
      "img2": "/impress2.jpg"
    },
    {
      "userId": 1,
      "id": 6,
      "title": "Mini Pizza - Gesso3D",
      "body": "Placa de gesso 3D com desenho de mini pizzas",
      "footer": "29x29",
      "img": "/mini_pizza_fdg_178.jpg",
      // "img2": "/mini_pizza2.jpg"
    },
    {
      "userId": 1,
      "id": 7,
      "title": "Modulo R - Gesso3D",
      "body": "Placa de gesso 3D com estilo modulo R",
      "footer": "29x29",
      "img": "/modulo_r_fdg_62.jpg",
      "img2": "/modulor2.jpg"
    },
    {
      "userId": 1,
      "id": 8,
      "title": "Quadradinho - Gesso3D",
      "body": "Placa de gesso 3D com desenho de quadradinhos",
      "footer": "29x29",
      "img": "/quadradinho_fdg_39.jpg",
      "img2": "/quadradinho2.jpg"
    },
    {
      "userId": 1,
      "id": 9,
      "title": "Ripadinho - Gesso3D",
      "body": "Placa de gesso 3D com estilo ripadinho",
      "footer": "29x29",
      "img": "/ripadinho_fdg_180.jpg",
      "img2": "/ripadinho2.jpg"
    },
    {
      "userId": 1,
      "id": 10,
      "title": "Roseira - Gesso3D",
      "body": "Placa de gesso 3D com desenho estilo roseira",
      "footer": "29x29",
      "img": "/roseira_fdg_119.jpg",
      "img2": "/roseira2.jpg"
    },
    {
      "userId": 1,
      "id": 11,
      "title": "Teen Block - Gesso3D",
      "body": "Placa de gesso 3D estilo Teen Block",
      "footer": "29x29",
      "img": "/teen_block_fdg_35.jpg",
      "img2": "/teen2.jpg"
    },
    {
      "userId": 1,
      "id": 12,
      "title": "Tijolinho Concavo - Gesso3D",
      "body": "Placa de gesso 3D com estilo de tijolinhos concavos",
      "footer": "29x29",
      "img": "/tijolinho_concavo_fdg_36.jpg",
      "img2": "/tijolinho2.jpg"
    },
  ]

  return data.map((post) => {
    return {
      params: { post: post.title.replaceAll(' ', '-').toLowerCase() },
      props: { post },
    }
  })
}
export const prerender = true
const { post } = Astro.props
---

<DefaultLayout title={post.title} description={post.body} url={post.title}>
  <div class="container">
    <div class="mt-12">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="Home" />
        <BreadcrumbsItem href="/catalog" label="Catálogo" />
        <BreadcrumbsItem currentPage={true} label={post.title} />
      </Breadcrumbs>
    </div>
  </div>
  <section class="my-12">
    <div class="container">
      <h1>{post.title}</h1><br />
      <div class="grid lg:grid-cols-2 gap-2 xs:grid-cols-1 sm:grid-cols-2 container">
        <img src={post.img} width="400px"/>
        <img src={post.img2} width="400px"/>
      </div>
      <p>{post.footer}</p>
    </div>
  </section>
  <section class="my-12">
    <div class="container">
      <p class="text-3xl">{post.body}</p>
      <p class="text-2xl">€33.00</p>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
